<div class="card mb-3">
    <div class="card-header text-end" id='mainPost' data-postId='{{this.id}}'>
        Quoted by {{this.user.userName}} on {{format_date this.date_created}}
    </div>

    <div class="card-body">
        <p class="card=text">
            {{this.content}}
        </p>
        {{#if isImg}}
        <img src="" alt="">
        {{/if}}
    </div>

    <div class="card-footer">
        <nav>
            <button class="fas fa-comment-alt"></button>

            {{#if this.likes.length}}
            <button class="fas fa-hand-spock unlike-btn" data-id='{{this.id}}'></button>
            {{this.likes.length}}
            {{else}}
            <button class="far fa-hand-spock like-btn" data-id='{{this.id}}' ></button>
            {{/if}}

            <button> <span class="fas fa-angle-double-left"></span> <span class="fas fa-angle-double-right"></span></button>
        </nav>
    </div>
</div>